* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #153677, #4e085f);
    height: 100vh;
    width: 100vw;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
}

.select-category {
    margin-top: 10px;
    font-size: large;
    color: #fff;
    transform: translate(0);
    text-align: center;
}

.todo-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 90%;
    max-width: 600px;
    background: #91c6f4;
    margin: 20px auto;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}

.search {
    padding: 10px;
    border-radius: 28px;
    background: #f6f6f6;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.search-icon {
    margin-right: 10px;
}

.search-input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    width: 100%;
    color: #333333;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    padding: 10px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    justify-items: center;
}

.image-item {
    text-align: center;
    padding: 10px;
}

.trigger-image {
    width: 120px; 
    height: 120px; 
    object-fit: cover; 
    border-radius: 10px;
    transition: all 0.3s ease;
}
.trigger-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    filter: brightness(1.2);
}

.image-caption {
    font-size: 14px; 
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    text-transform: uppercase;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%); 
    width: 90%;
    max-width: 800px; 
    height: auto; 
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover {
    color: #000;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    font-size: 14px;
}

button {
    border: none;
    outline: none;
    padding: 12px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 14px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease; 
}

ul li::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 10px; 
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer; 
}

ul li span:hover {
    background: #edeef0;
    transition: background-color 0.3s ease;
}

#suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    width: 90%;
    z-index: 100;
    display: none;
}

#suggestions-list li {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
}

#suggestions-list li:hover {
    background-color: #f0f0f0;
}

footer {
    position: fixed; 
    bottom: 0;       
    left: 0;         
    width: 100%;      
    background-color: transparent;
    color: white;     
    text-align: center;
    padding: 10px 20px; 
    font-size: 12px;  
    z-index: 1000;   
    font-family: cursive;
}

@media (max-width: 768px) {
    .todo-site {
        font-size: 20px;
        padding: 20px;
    }

    .search {
        width: 90%;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .trigger-image {
        width: 100px;
        height: 100px;
    }

    .image-caption {
        font-size: 12px;
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }
}
